.footerStyle{
    color: #fafafa;
    background-color: black;
    margin-top: 1rem;
    padding-top: 10px;
    padding-bottom: 10px;
}
.widthfooter{
    width:100%;
    padding-top:1rem;
    margin-top: auto;
    margin-left : auto;
}
.firstfooter{
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 1rem;
}
.spanfirstfooter{
    margin-bottom: 1rem;
    font-weight: bold;
    font-size: 15px;
}
.fontfooter{
    font-size: 15px;
    margin-bottom: 5px;
}
.paddingimagefooter{
    margin-right: 15px;
}
.spansecondfooter{
    margin-left: 1.5rem;
}
.marginfooter{
    margin-left: 7rem;
}
.marginsecondfooter{
    padding-left: 25rem;
}
.spanprivacyfooter{
    padding-right: 2.5rem;
}
.textalign{
    text-align: right;
}
 /* For mobile phones: */
 [class*="col-"] {
    width: 100%;
  }
@media screen and (max-width: 600px) {
    /* For tablets: */
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}

    .marginfooter{
        margin-left: 0rem;
    }
    .spanfirstfooter{
        margin-bottom: 0rem;
        font-weight: bold;
        font-size: 15px;
        margin-top: 1rem;
    }

    .marginsecondfooter{
        padding-left: 3.5rem;
    }
    .textalign{
        text-align: center;
    }
    
  }

  @media screen and (max-width: 1200px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}

}
