.notifMenu{
        padding:0px 0px 0px 5px;
}
.badgeNotif{
        margin:-6rem -5rem 0rem -2.5rem;
}
.spanLogo{
        margin-left: 3.3rem;
}
.headerstyle{
        border-top: 5px;
        color : yellow;
}
.triangle { 
        width: 0;
        height: 0;
        border-top: 50px solid transparent; 
        border-left: 100px solid red; 
        border-bottom: 50px solid transparent;
}
.zindex{
        position:absolute;
        z-index:-1;
}
.paddingmenu{
        padding-left: 3rem;
}
.paddingnavitem{
        margin-top: -5px;
        margin-right: 5px;
}