.bgEquipment{
    background-color: #fafafa;
    margin-left: -1.8rem;
    margin-right: -1.8rem;
}
.cardEM{
    margin-left: -1.8rem;
    margin-right: -1.8rem;
}
.fontEM{
    font-size: 40px;
    font-weight: bold;
    background-color: #fafafa;
    padding-left: 4rem;
}
.trafficstyle{
    padding-top: 1rem;
    margin-top: 1rem;
}
.hiasan{
    background: #FFCC00;
    width: 18px;
    height: 30px;  
    margin-left: 1.2rem;
}
.stylelisteq{
    font-size: 26px;
    line-height: 29px;
    color: black;
    opacity: 0.8;
    padding-left: 2rem;
    font-weight: bold;
    padding-bottom: 1.5rem;
    background-color: #fafafa;
    padding-left: 1rem;
}
.textvalue{
    font-size: 1rem;
    color:#000000;
    font-weight: bold;
}
.paddingchart{
    padding-left: 1rem;
    color: black;
    padding-top: 5px;
    font-size: 60px;
    font-weight: bold;
}
.fontUI{
    color:grey;
    padding-left: 1.1rem;
    padding-bottom: 1rem;
}
.cardnew{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
    border-radius: 25px;
}
.background{
    background-color: #fafafa;
}
.listcolor{
    background-color: #FFCC00;
}
.flex-container {
    display:  flex;
}
.filtersort{
    float:left;
    width:3%;
}
.orderList{
    float:left;
    width: 94%;
}
.filterorder{
    float:left;
    width:3%;
}
.paddingsort{
    padding-left: 2.2rem;
}
.unitinformation{
    float:left;
    width:50%;
}
.mtd{
    float:left;
    width:50%;
}
.progressBar {
    width:50%;
    height:20px;
    margin: 15px auto;
    background: rgb(34,34,34);
    border-radius: 10px;
    box-shadow: inset 0 0 5px #000;
}
.colorProgressFont{
    color: black;
}
