.textvalue{
    font-size: 1rem;
    color:#000000;
    font-weight: bold;
}
.tabMenuEquipment{
    color: #fafafa;
}
.trafficstyle{
    padding-top: 1rem;
    margin-top: 1rem;
}
.hiasan{
    background: #FFCC00;
    width: 18px;
    height: 30px;  
    margin-left: 1.2rem;
}
.bgEquipment{
    background-color: #fafafa;
    margin-left: -1.8rem;
    margin-right: -1.8rem;
}
.cardEM{
    margin-left: -1.8rem;
    margin-right: -1.8rem;
}
.fontEM{
    font-size: 2.5vw;
    font-weight: bold;
    background-color: #fafafa;
    padding-left: 4rem;
}
.paddingcontent{
    padding-left: 1rem;
    margin-bottom: 1rem;
    padding-right: 1rem;
}
.paddingchart{
    padding-left: 1rem;
    color: black;
    padding-top: 5px;
    font-size: 80px;
    font-weight: bold;
}
.listcolor{
    background-color: #FFCC00;
}
.stylelisteq{
    font-size: 2vw;
    line-height: 29px;
    color: black;
    opacity: 0.8;
    padding-left: 2rem;
    font-weight: bold;
    padding-bottom: 1.5rem;
    background-color: #fafafa;
    padding-left: 1rem;
}
.fontUI{
    color:grey;
    padding-left: 1.1rem;
    padding-bottom: 1rem;
}
.cardnew{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}
.background{
    background-color: #fafafa;
}
.listcolor{
    background-color: #FFCC00;
}
.flex-container {
    display:  flex;
}
.filtersort{
    float:left;
    width:3%;
}
.orderList{
    float:left;
    width: 94%;
}
.filterorder{
    float:left;
    width:3%;
}
.paddingsort{
    padding-left: 2.2rem;
}
.unitinformation{
    float:left;
    width:50%;
}
.mtd{
    float:left;
    width:50%;
}
.paddingdashboard{
    padding-right: 5px;
}
.absolute-center {
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 22px;
  }
  
  .text-center{
    text-align: center;
  }

/* For mobile phones: */
[class*="col-"] {
  width: 100%;
}
        @media screen and (max-width: 600px) {
            /* For tablets: */
            .col-s-1 {width: 8.33%;}
            .col-s-2 {width: 16.66%;}
            .col-s-3 {width: 25%;}
            .col-s-4 {width: 33.33%;}
            .col-s-5 {width: 41.66%;}
            .col-s-6 {width: 50%;}
            .col-s-7 {width: 58.33%;}
            .col-s-8 {width: 66.66%;}
            .col-s-9 {width: 75%;}
            .col-s-10 {width: 83.33%;}
            .col-s-11 {width: 91.66%;}
            .col-s-12 {width: 100%;}

            .fontEM{
                font-size: 5vw;
            }
        
            .textvalue{
                font-size: 12px;
            }
        
            .cardnew{
                max-width: 400px;
                margin-bottom: 1rem;
            }
            .hiasan{
                margin-top: 5px;
                width: 11px;
                height: 20px;
            }
        
            .stylelisteq{
                font-size: 4vw;
                line-height: 29px;
            }       
        }

        @media screen and (max-width: 768px) {
            /* For desktop: */
            .col-1 {width: 8.33%;}
            .col-2 {width: 16.66%;}
            .col-3 {width: 25%;}
            .col-4 {width: 33.33%;}
            .col-5 {width: 41.66%;}
            .col-6 {width: 50%;}
            .col-7 {width: 58.33%;}
            .col-8 {width: 66.66%;}
            .col-9 {width: 75%;}
            .col-10 {width: 83.33%;}
            .col-11 {width: 91.66%;}
            .col-12 {width: 100%;}
  
        }

 
  
  


  
