.background{
    background-color:#fafafa;
}
.bgEquipment{
    background-color: #fafafa;
    margin-left: -1.8rem;
    margin-right: -1.8rem;
}
.cardEM{
    margin-left: -1.8rem;
    margin-right: -1.8rem;
}
.fontEM{
    font-size: 35px;
    font-weight: bold;
    background-color:#fafafa;
    padding-left: 4rem;
    padding-top: 0.4rem;
}
.trafficstyle{
    padding-top: 1rem;
    margin-top: 1rem;
}
.unitinformation{
    margin-left: 20px;
}
.stylelisteq{
    font-size: 26px;
    line-height: 29px;
    color: #001717 solid;
    opacity: 0.8;
    padding-left: 1.2rem;
    font-weight: bold;
    padding-bottom: 1.5rem;
    background-color:#fafafa;
}
.hiasan{
    background: #FFCC00;
    width: 18px;
    height: 30px;  
    margin-left: 2rem;
}
.cardnew{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    margin-left: 2rem;
}
.cardcaution{
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1), 0 3px 3px 0 rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    height:40px;
    margin-bottom: 0.4rem;
    margin-left: 30px;
    margin-right: 30px;
}
.dtcaut{
    font-size: 13px;
    color:grey;
}
.nmcaut{
    font-size: 13px;
    font-weight: bold;
}
.img{
    height: 160px;
    width: 180px;
    max-width: 100%;
    margin-left: 5rem;
}
.imgg{
    padding-top: 1rem;
    position: relative;
    text-align: center;
    color: black;
    padding-bottom: 2rem;
}
.imgc{
    width: 25px;
}
.imgac{
    margin-left:30px; 
    width:20px;
}

.text{
    position: absolute;
    top:45%;
    left:50%;
    transform: translate(-50%, -50%);
    font-size: 27px;
    font-weight: bold;
    margin-top: 1rem;
}
.textt{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    font-size: 27px;
    font-weight: bold;
    margin-top: 0.7rem;
}
.text1{
    position: absolute;
    top:60%;
    left:50%;
    transform: translate(-50%, -50%);
    font-size: 8px;
    color: grey;
    margin-top: 0.7rem;
}
.chart-wrapper{
    position: relative;
    padding-top: 2rem;
    bottom: 1rem;
}
.textvalue1{
    font-size: 1.2rem;
    color: #020202;
    text-align: center;
    font-weight: bold;
}
.textvalue2{
    margin-left: 5px;
    padding-top: 8px;
    margin-top: 0.5rem;
}
.textvalue3{
    margin-left: 5px;
}
.textvalue4{
    margin-left: 30px;
    }
.garisabu2{
    background: grey;
    width: 5px;
    height: 170px;  
    margin-right: 1rem;
    border-radius: 10px;
    float: left;

}
.font1{
    color: grey;
    font-size: 10px;
    margin-top: 0.7rem;
}
.font2{
    font-weight: bold;
    font-size: 20px;
}
.font3{
    font-weight: bold;
    font-size: 15px;
}
.font4{
    font-size: 10px;
    color: green;
    font-weight: bold;
}
.font5{
    color: grey;
    font-size: 12px;
    margin-top: 0.2rem;
    margin-left: 0.5rem;
}
.font6{
    margin-top: -1rem;
    margin-left: 0.5rem;
    color: green;
    font-weight: bold;
}
.font7{
    margin-left: 0.5rem;
    margin-top: 1.2rem;
}
.font8{
    color: grey;
    font-size: 10px;
    margin-top: 0.7rem;
    margin-left: 3rem;
    margin-right: 6rem;
}
.LI{
    font-size: 13px;
    font-weight: bold;
}
.LII{
    margin-top: 1.7rem;

}
.fa-calendar{
    color:grey;
    margin-top: 0.2rem;
    font-size: 13px;
    font-weight: bold;
}
.fa-clock-o{
    margin-top: 2rem;
    color:grey;
    size: 15px;
    font-size: 13px;
    font-weight: bold;
    margin-left: 3rem;
    margin-right: 4rem;
}
.icon-location-pin{
    font-size: 13px;
    font-weight: bold;
    color:#4169E1;
    margin-right: 8rem;
}
.icon-share{
    color: #FFCC00;

}
.badge{
    block-size: 25px;
    padding-top: 0.4rem;
    font-size: 12px;
    color: white;
    margin-bottom: 0.5rem;
    margin-left: 1rem;
}
.location{
    margin-top: 1rem;
    width: 1050px;
    height: 300px;
}
.map{
    max-width: 100%;
    position: absolute;
    left: 30px;
    width: 1180px;
    height: 300px;
    margin-left: 30px;
    margin-right: 2rem;
}
.marginImage{
    margin-left: 5rem;
}
.hapusmargin{
    margin-left: 0;
    margin-right: 1rem;
}