.cardMar{
    margin-left: 1rem;
}
.bgEquipment{
    background-color: #fafafa;
    margin-left: -1.8rem;
    margin-right: -1.8rem;
}
.cardEM{
    margin-left: -1.8rem;
    margin-right: -1.8rem;
}
.fontEM{
    font-size: 35px;
    font-weight: bold;
    background-color: #fafafa;
    padding-left: 4rem;
}
.trafficstyle{
    padding-bottom: 1rem;
    margin-top: 0.5rem;
}
.trafficstyle2{
    margin-top: 0.5rem;
}
.textvalue3{
    font-size: 4rem;
    text-align: right;
    color:#fafafa;
    margin-top: -1.7rem;
}
.paddingchart{
    padding-left: 1rem;
    color: black;
    padding-top: 5px;
    font-size: 75px;
    font-weight: bold;
}
.fontUI{
    color:grey;
    padding-left: 1.1rem;
    padding-bottom: 1rem;
}
.fontUI3{
    color:#fafafa;
    text-align: left;
}
.cardnew{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
    border-radius: 25px;
}
.background{
    background-color: #fafafa;
}
.background2{
    background-color: #fafafa;
}.fontUI2{
    color:grey;
    padding-top: 1.5rem;
}
.textvalue{
    font-size: 1rem;
    color:#000000;
    font-weight: bold;
}
.textvalue2{
    font-size: 1rem;
    color:#000000;
}
.cardpos{
    margin-left: 1rem;
    padding-bottom: 1rem;
    margin-bottom: -0.5rem; 
}
.cardpos2{
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 0.3rem;
}
.colPos{
    margin-left: 18.5rem;
}
.mypos{
    margin-left: 20.5rem;
    margin-bottom: 1rem;
    margin-right: 0.3rem;
}
.mypos2{
    margin-right: 0.5rem;
    margin-left: 0.3rem;
}
.buttpos{
    margin-bottom: 1rem;
    margin-left: 20rem;
    margin-top: 0.5rem;
}
.ddpos{
    margin-left: 50rem;
    float: left;
}
.rgpadd{
    padding-right: 1rem;
    padding-left: 1rem;
}
.img-responsive{
    max-width: 100%;
    height: 35px;
  }
.img-responsive2{
    max-width: 100%;
    height: 80px;
}
.orderCol{
    padding-bottom: -2rem;
}
.ordTex{
    font-size: 25px;
    color:#000000;
    font-weight: bold;
    max-width: 100%;
    padding-left: 1rem;
 }
.paddTex{
    padding-left: 1rem;
    color: black;
    font-size: 70px;
    font-weight: bold;
    max-width: 100%;
    margin-bottom: -1rem;
    margin-top: -1rem;
}
.fonTex{
    color:grey;
    padding-left: 1rem;
    padding-bottom: 1rem;
    font-size: 20px;
    max-width: 100%;
}


@media screen and  (max-width: 600px) {
    .fontEM{
        font-size: 20px;
        padding-left: 0.5rem;
    }
    .yell{
        max-width: 100%;
        height: 20px;
        margin-top: -0.2rem;
    }
    .background2{
        background-color:#fafafa;
        margin-right: -4rem;
    }
    .img-responsive{       
        max-width: 100%;
        height: 20px;
    }
    .paddingchart{
        padding-right: 0.3rem;
        padding-top: 0rem;
        font-size: 20px;
        font-weight: bold;
    }
    .fontUI{
        padding-left: 1.1rem;
        padding-bottom: 1rem;
    }
    .posCar{
        margin-left: -4rem;
        margin-right: -4rem;
    }
    .bgEquipment2{
        background-color: #fafafa;
        margin-left: -0.8em;
    }
    .mypos{
        margin-left: -2rem;
        margin-right: 0rem;
    }
    .mypos2{
        margin-left: 1rem;
        margin-right: 3rem;
    }
    .ddpos{
        margin-left: -6rem;
        float: left;
    }
    .img-responsive2{
        max-width: 100%;
        height: 50px;
    }
    .fontUI2{
        color:grey;
        padding-top: 1rem;
        font-size: 12px;
    }
    .textvalue{
        font-size: 14px;
        color:#000000;
        font-weight: bold;
    }
    .textvalue2{
        font-size: 12px;
        color:#000000;
    }
    .cardpos{
        margin-left: -1.5rem;
        margin-right: -1.5rem;
        padding-bottom: 1rem;
        margin-bottom: -0.5rem; 
    }
    .colPos{
        margin-left: -1.8rem;
        margin-right: -1.8rem;
    }
    .ordTex{
        font-size: 14px;
        color:#000000;
        font-weight: bold;
        max-width: 100%;
        padding-left: 0rem;
        float: left;
        margin-top: -0.5rem;
     }
    .paddTex{
        padding-left: 0rem;
        color: black;
        font-size: 20px;
        font-weight: bold;
        max-width: 100%;
        margin-bottom: -0.5rem;
        margin-top: -0.9rem;
        float: left;
        margin-right: 0.3rem;
        margin-left: 0.3rem;
    }
    .fonTex{
        color:black;
        padding-left: 0rem;
        padding-bottom: 0.5rem;
        font-size: 12px;
        max-width: 100%;
        margin-top: -0.4rem;
    }
    .textvalue3{
        font-weight: bold;
        font-size: 20px;
        padding-top: 2rem;
        max-width: 100%;
    }
    .fontUI3{
        padding-bottom: 0.5rem;
        font-size: 12px;
        max-width: 100%; 
    }
    .rgpadd{
        padding-right: 0rem;
        padding-left: 0rem; 
    }
    .mm{
        margin-top: -0.9rem;
    }
    .buttpos{
        margin-left: 54%;
        margin-top: 0.5rem; 
    }
    .wrap{ 
        -ms-box-orient: horizontal;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -moz-flex;
        display: -webkit-flex;
        display: flex;
        
        -webkit-flex-flow: row wrap;
        flex-flow: row wrap;
    }
    .wrap-one:nth-of-type(1) { 
        order: 2; 
    }
    .wrap-two:nth-of-type(2) { 
        order: 1;
    }
}
/* For mobile phones: */
[class*="col-"] {
    width: 100%;
  }
  
  @media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
  }
  
  @media only screen and (min-width: 900px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
  }